<div class="tela-login">
  <div class="login-container">
    <div class="lado-esquerdo">
      <div class="logo-container">
        <img src="img/LogoControlD.png" alt="Logo" />
        <span class="logo-text">Control<span class="destaque">Desk</span></span>
      </div>
      <div class="boas-vindas">
        <h1>Bem-vindo</h1>
        <p>Acesse o painel com seu usuário e senha.</p>
      </div>
    </div>

    <div class="lado-direito">
      <div class="formulario-login">
        <h2>Login</h2>
        <p class="subtitulo">Digite suas credenciais para acessar</p>

        <form (ngSubmit)="onSubmit()">
          <div class="campo-form">
            <label for="email">E-mail</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" required />
          </div>

          <div class="campo-form">
            <label for="senha">Senha</label>
            <input type="password" id="senha" [(ngModel)]="password" name="password" required />
          </div>

          <div class="opcoes">
            <label class="lembrar"><input type="checkbox" /> Lembrar de mim</label>
          </div>

          <button class="botao-entrar" type="submit">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>